#admin-options {
	float: left;
	max-width: 75%;
	margin-right: 20px;
}
#admin-affiliates {
	float: right;
	width: 20%;
	margin: 20px 0;
}
.wicketpixie input[type=checkbox] {
  display: none;
}
.wicketpixie input[type=checkbox] + label {
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  width: 94px;
  height: 27px;
  line-height: 27px;
  background: transparent url('../images/iphone-checkbox.png') no-repeat -56px 0;
  border-radius: 3px;
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
}
.wicketpixie input[type=checkbox]:checked + label {
  -webkit-transition: background-position 0.3s ease;
  -moz-transition: background-position 0.3s ease;
  background-position: -3px 0;
}
